@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=Architects+Daughter&family=Atomic+Age&family=Bangers&family=Pangolin&display=swap');

*{
 font-family: 'Architects Daughter',monospace;
 padding: 0.1rem;
 background-color: #e8d8b4;
 
}
.contant{
   max-width: 600px;
   margin: auto;
   padding:5px;
}
h1{
  font-family: 'Bangers',monospace;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.3rem;
  color: #0c1042;
}
#exam_image{
  border-radius:20px;
  box-shadow: 0 2px 0 2px;
}